In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('athlete_events.csv')
df2 = pd.read_csv('noc_regions.csv')

In [3]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [5]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [6]:
# df['Age'] = df['Age'].fillna(value=df['Age'].median)

In [7]:
df['Age'].unique()

array([24., 23., 34., 21., 25., 27., 31., 33., 18., 26., 22., 30., 32.,
       28., 54., 20., 17., 43., 47., 29., 41., 45., 49., 53., 57., nan,
       19., 38., 35., 16., 37., 15., 42., 46., 40., 36., 14., 39., 48.,
       52., 44., 55., 50., 71., 63., 51., 58., 13., 60., 75., 65., 56.,
       64., 68., 84., 12., 72., 59., 61., 70., 74., 62., 67., 69., 73.,
       66., 11., 76., 88., 96., 80., 10., 81., 77., 97.])

In [8]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [9]:
df['Medal'].unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [10]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [11]:
df['Weight'].unique()

array([ 80.        ,  60.        ,          nan,  82.        ,
        75.        ,  72.        ,  96.        ,  76.5       ,
        70.        ,  55.5       ,  65.        ,  85.        ,
        64.        , 130.        , 125.        ,  89.        ,
        77.        ,  76.        ,  98.        ,  78.        ,
        73.        ,  93.        ,  74.        , 106.        ,
        58.        ,  66.        ,  71.        ,  90.        ,
        87.        ,  49.        ,  48.        ,  83.        ,
        86.        ,  55.        ,  67.        ,  97.        ,
       105.        ,  43.        ,  79.        ,  51.        ,
        88.        ,  62.        ,  53.        , 104.        ,
        57.        ,  63.        ,  52.        ,  91.        ,
        94.        ,  56.        ,  68.        ,  61.        ,
        69.        ,  46.        , 100.        ,  81.        ,
        92.        , 120.        ,  95.        ,  59.        ,
        50.        , 117.5       ,  54.        ,  47.        ,
       117.        ,  84.        , 102.        ,  40.        ,
       115.        , 110.        ,  45.        ,  99.        ,
       109.        ,  69.5       , 135.        ,  38.        ,
        77.5       , 103.        , 163.        , 113.        ,
        42.        ,  91.5       ,  82.5       ,  68.5       ,
       116.        , 107.        ,  96.5       ,  83.5       ,
        44.        , 122.        , 102.5       ,  71.5       ,
       156.        , 150.        , 160.        ,  95.5       ,
       101.        , 146.        , 138.        , 112.        ,
       108.        , 140.        , 141.        ,  63.5       ,
       114.        , 118.        ,  52.5       , 127.        ,
        39.        ,  73.5       , 155.        ,  74.5       ,
        32.        , 143.        , 133.        ,  70.5       ,
       126.        ,  53.5       , 121.        ,  67.5       ,
       111.        , 123.5       ,  41.        ,  36.        ,
       132.        , 128.        ,  65.5       ,  98.5       ,
       124.        ,  59.5       ,  66.5       , 127.5       ,
        35.        , 144.        ,  58.5       , 214.        ,
        81.5       ,  37.        , 146.5       , 116.5       ,
       148.        , 123.        ,  89.5       , 133.5       ,
        86.5       ,  85.5       , 101.5       , 154.        ,
       139.        ,  57.5       , 136.        ,  54.5       ,
       137.        , 170.        ,  30.        ,  25.        ,
        77.33333333, 131.        ,  79.5       ,  34.        ,
       119.        , 134.        ,  33.        , 109.5       ,
        90.5       , 129.        , 147.        ,  56.5       ,
        78.5       , 165.        ,  88.5       ,  62.5       ,
        60.5       , 158.        ,  75.5       , 190.        ,
        64.5       , 145.        , 121.5       ,  61.5       ,
       161.        , 176.5       ,  87.5       , 100.5       ,
       149.        , 152.        , 108.5       ,  28.        ,
        48.5       , 138.5       ,  72.5       , 129.5       ,
       131.5       , 167.        ,  84.5       ,  49.5       ,
        51.5       , 112.5       , 118.5       , 142.        ,
        80.5       , 106.5       , 107.5       ,  31.        ,
       135.5       , 137.5       ,  93.5       ,  97.5       ,
       103.5       , 175.        , 151.        , 198.        ,
       178.        ,  92.5       , 180.        , 104.5       ,
       105.5       , 122.5       , 182.        ,  74.66666667,
       130.5       ])

In [12]:
df['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [13]:
basketball = df[df['Sport'] == 'Basketball']

# len(temp),temp['Weight'].isnull().sum(),temp['Height'].isnull().sum()

In [14]:
basketball

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
250,124,Youssef Mohamed Abbas,M,31.0,NaN,NaN,Egypt,EGY,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN
264,136,Alessandro Abbio,M,29.0,195.0,85.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
346,192,Ahmed El-Sayed Abdel Hamid Mobarak,M,25.0,189.0,85.0,Egypt,EGY,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270742,135401,Eurelijus ukauskas,M,30.0,218.0,115.0,Lithuania,LTU,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
270743,135402,Mindaugas ukauskas,M,20.0,201.0,100.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze
270744,135402,Mindaugas ukauskas,M,28.0,201.0,100.0,Lithuania,LTU,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
271026,135530,Philip Zwiener,M,23.0,202.0,98.0,Germany,GER,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [15]:
basketball['Height'].unique()

array([180., 185.,  nan, 195., 189., 178., 198., 188., 202., 205., 200.,
       208., 190., 194., 187., 170., 192., 172., 181., 176., 213., 183.,
       168., 204., 201., 211., 210., 177., 175., 215., 207., 203., 173.,
       184., 206., 191., 179., 193., 182., 196., 217., 174., 209., 186.,
       221., 165., 171., 214., 218., 197., 163., 223., 167., 216., 166.,
       169., 199., 212., 164., 162., 220., 161., 219., 226.])

In [16]:
basketball['City'].unique()

array(['Barcelona', 'Beijing', 'Helsinki', 'Sydney', 'Munich',
       'Los Angeles', 'Seoul', 'Montreal', 'London', 'Moskva',
       'Rio de Janeiro', 'Roma', 'Tokyo', 'Mexico City', 'Atlanta',
       'Athina', 'Berlin', 'Melbourne'], dtype=object)

In [17]:
basketball['Year'].sort_values(ascending=True).unique()

array([1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984,
       1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016], dtype=int64)

In [18]:
basketball['Medal'].value_counts()

Medal
Gold      365
Silver    359
Bronze    356
Name: count, dtype: int64

In [19]:
basketball['Team'].sort_values().unique()

array(['Angola', 'Argentina', 'Australia', 'Belarus', 'Belgium', 'Brazil',
       'Bulgaria', 'Canada', 'Central African Republic', 'Chile', 'China',
       'Chinese Taipei', 'Congo (Kinshasa)', 'Croatia', 'Cuba',
       'Czech Republic', 'Czechoslovakia', 'Egypt', 'Estonia', 'Finland',
       'France', 'Germany', 'Great Britain', 'Greece', 'Hungary', 'India',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia',
       'Lithuania', 'Mali', 'Mexico', 'Morocco', 'New Zealand', 'Nigeria',
       'Panama', 'Peru', 'Philippines', 'Poland', 'Puerto Rico',
       'Romania', 'Russia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Singapore', 'Slovakia', 'South Korea', 'Soviet Union', 'Spain',
       'Sweden', 'Switzerland', 'Thailand', 'Tunisia', 'Turkey',
       'Ukraine', 'Unified Team', 'United States', 'Uruguay', 'Venezuela',
       'West Germany', 'Yugoslavia'], dtype=object)

In [20]:
print("The average ages of participation in basketball is : ",basketball['Age'].mean())
print("The most probable ages of participation in basketball is : ",basketball['Age'].median())
print("The most common ages of participation in basketball is : ",basketball['Age'].mode())

The average ages of participation in basketball is :  25.324597701149425
The most probable ages of participation in basketball is :  25.0
The most common ages of participation in basketball is :  0    24.0
Name: Age, dtype: float64

In [22]:
temp = basketball[basketball['Medal'] == 'Gold']
temp.groupby('Team')['Medal'].value_counts().sort_values(ascending=False)

Team           Medal
United States  Gold     281
Soviet Union   Gold      48
Argentina      Gold      12
Unified Team   Gold      12
Yugoslavia     Gold      12
Name: count, dtype: int64

In [23]:
temp = basketball[basketball['Medal'] == 'Silver']
temp.groupby('Team')['Medal'].value_counts().sort_values(ascending=False)

Team                   Medal
Soviet Union           Silver    50
Spain                  Silver    48
Yugoslavia             Silver    48
France                 Silver    38
Australia              Silver    36
Italy                  Silver    24
United States          Silver    24
Brazil                 Silver    12
Bulgaria               Silver    12
Croatia                Silver    12
Serbia                 Silver    12
Serbia and Montenegro  Silver    12
China                  Silver    11
South Korea            Silver    11
Canada                 Silver     9
Name: count, dtype: int64

In [24]:
temp = basketball[basketball['Medal'] == 'Bronze']
temp.groupby('Team')['Medal'].value_counts().sort_values(ascending=False)

Team           Medal
Soviet Union   Bronze    48
Brazil         Bronze    46
Russia         Bronze    36
United States  Bronze    36
Lithuania      Bronze    35
Australia      Bronze    24
Uruguay        Bronze    24
Yugoslavia     Bronze    24
Argentina      Bronze    12
Bulgaria       Bronze    12
China          Bronze    12
Cuba           Bronze    12
Serbia         Bronze    12
Spain          Bronze    12
Mexico         Bronze    11
Name: count, dtype: int64

In [38]:
basketball.groupby('Team')['Medal'].count().sort_values(ascending=False)

Team
United States    341
Soviet Union     146
Yugoslavia        84
Australia         60
Spain             60
                ...
Latvia             0
Mali               0
Morocco            0
Nigeria            0
Angola             0
Name: Medal, Length: 66, dtype: int64

In [39]:
basketball.groupby('Name')['Medal'].count().sort_values(ascending=False)

Name
Teresa Edwards                     5
Diana Lurena Taurasi               4
Sergey Aleksandrovich Belov        4
Gennady Georgiyevich Volnov        4
Lisa Deshawn Leslie (-Lockwood)    4
                                  ..
Jana Vesel                         0
Jang Seon-Hyeong                   0
Janusz Cegliski                    0
Janusz Stanisaw Patrzykont         0
va Gulys (-Beloberk)               0
Name: Medal, Length: 3412, dtype: int64

In [40]:
basketball.groupby('Name')['Medal'].value_counts().sort_values(ascending=False)

Name                             Medal
Suzanne Brigit "Sue" Bird        Gold      4
Tamika Devonne Catchings         Gold      4
Diana Lurena Taurasi             Gold      4
Teresa Edwards                   Gold      4
Lisa Deshawn Leslie (-Lockwood)  Gold      4
                                          ..
James Edward Harden, Jr.         Gold      1
James H. "Jim" King              Gold      1
James Patrick "Jim" Walsh        Gold      1
James Ricardo "Jim" Forbes       Silver    1
milie Gomis                      Silver    1
Name: count, Length: 939, dtype: int64

In [42]:
basketball.groupby('Sex')['Medal'].count().sort_values(ascending=False)

Sex
M    687
F    393
Name: Medal, dtype: int64

In [43]:
basketball.groupby('Sex')['Medal'].value_counts().sort_values(ascending=False)

Sex  Medal
M    Gold      234
     Silver    229
     Bronze    224
F    Bronze    132
     Gold      131
     Silver    130
Name: count, dtype: int64

In [45]:
basketball.groupby('Sex')[['Team','Medal']].value_counts().sort_values(ascending=False)

Sex  Team                   Medal
M    United States          Gold      186
F    United States          Gold       95
M    Soviet Union           Silver     50
     Yugoslavia             Silver     36
     Spain                  Silver     36
F    Australia              Silver     36
M    Soviet Union           Bronze     36
     Lithuania              Bronze     35
     Brazil                 Bronze     34
     France                 Silver     26
     Italy                  Silver     24
F    Australia              Bronze     24
     Russia                 Bronze     24
     Soviet Union           Gold       24
M    Soviet Union           Gold       24
     United States          Bronze     24
     Uruguay                Bronze     24
     Yugoslavia             Gold       12
     Argentina              Bronze     12
                            Gold       12
     Yugoslavia             Bronze     12
     Cuba                   Bronze     12
     Russia                 Bronze     12
     Serbia                 Silver     12
     Serbia and Montenegro  Silver     12
     Spain                  Bronze     12
     United States          Silver     12
     Croatia                Silver     12
F    Bulgaria               Bronze     12
                            Silver     12
     Brazil                 Bronze     12
     China                  Bronze     12
     France                 Silver     12
     Serbia                 Bronze     12
     Soviet Union           Bronze     12
     Spain                  Silver     12
     Unified Team           Gold       12
     United States          Bronze     12
                            Silver     12
     Yugoslavia             Bronze     12
                            Silver     12
     Brazil                 Silver     12
     China                  Silver     11
     South Korea            Silver     11
M    Mexico                 Bronze     11
     Canada                 Silver      9
Name: count, dtype: int64

In [57]:
basketball.groupby('Sex')[['Age','Medal']].value_counts().sort_values(ascending=False)

Sex  Age   Medal
M    22.0  Gold      29
     28.0  Silver    27
     23.0  Silver    27
     26.0  Silver    26
     23.0  Gold      25
                     ..
F    34.0  Bronze     1
     32.0  Bronze     1
     17.0  Bronze     1
     37.0  Gold       1
M    37.0  Bronze     1
Name: count, Length: 110, dtype: int64

In [58]:
basketball.groupby('Sex')[['Age','Team','Medal']].value_counts().sort_values(ascending=False)

Sex  Age   Team           Medal
M    22.0  United States  Gold      29
     26.0  United States  Gold      20
     23.0  United States  Gold      19
     21.0  United States  Gold      18
     24.0  United States  Gold      16
                                    ..
F    22.0  United States  Silver     1
                          Bronze     1
           Unified Team   Gold       1
           Soviet Union   Gold       1
M    37.0  Lithuania      Bronze     1
Name: count, Length: 439, dtype: int64

In [59]:
basketball.groupby('Sex')[['Season','Medal']].value_counts().sort_values(ascending=False)

Sex  Season  Medal
M    Summer  Gold      234
             Silver    229
             Bronze    224
F    Summer  Bronze    132
             Gold      131
             Silver    130
Name: count, dtype: int64

In [63]:
basketball.groupby('Sex')[['Team','Height','Medal']].value_counts().sort_values(ascending=False)

Sex  Team           Height  Medal
M    United States  200.0   Gold      16
                    198.0   Gold      15
                    203.0   Gold      15
F    United States  183.0   Gold      12
M    United States  188.0   Gold      12
                                      ..
F    Spain          191.0   Silver     1
                    190.0   Silver     1
                    185.0   Silver     1
                    181.0   Silver     1
M    Yugoslavia     217.0   Silver     1
Name: count, Length: 549, dtype: int64

In [64]:
basketball.groupby('Sex')[['Weight','Height','Medal']].value_counts().sort_values(ascending=False)

Sex  Weight  Height  Medal
M    102.0   203.0   Gold      6
     86.0    190.0   Gold      6
     92.0    198.0   Silver    5
F    68.0    175.0   Gold      4
M    79.0    188.0   Gold      4
                              ..
F    64.0    175.0   Bronze    1
                     Gold      1
             176.0   Silver    1
             178.0   Silver    1
M    140.0   210.0   Bronze    1
Name: count, Length: 742, dtype: int64

In [65]:
basketball.groupby('Medal')[['Team','Height','Medal']].value_counts().sort_values(ascending=False)

Medal   Team           Height
Gold    United States  183.0     23
                       188.0     20
                       185.0     19
                       193.0     18
                       198.0     18
                                 ..
Bronze  United States  182.0      1
                       178.0      1
                       175.0      1
                       162.0      1
Silver  Yugoslavia     217.0      1
Name: count, Length: 506, dtype: int64

In [66]:
basketball.groupby('Team')[['Height','Medal']].value_counts().sort_values(ascending=False)

Team           Height  Medal
United States  183.0   Gold      23
               188.0   Gold      20
               185.0   Gold      19
               193.0   Gold      18
               198.0   Gold      18
                                 ..
Lithuania      200.0   Bronze     1
               199.0   Bronze     1
               198.0   Bronze     1
               197.0   Bronze     1
Yugoslavia     217.0   Silver     1
Name: count, Length: 506, dtype: int64

In [ ]:
basketball.groupby('Medal')[['Team','Height','Medal']].value_counts().sort_values(ascending=False)

In [74]:
df.groupby('Team')['Medal'].value_counts().sort_values(ascending=False)

Team           Medal
United States  Gold      2474
               Silver    1512
               Bronze    1233
Soviet Union   Gold      1058
               Silver     716
                         ...
Togo           Bronze       1
Nrnberg        Gold         1
Femur-1        Gold         1
Fantlet-7      Gold         1
Clearwater     Bronze       1
Name: count, Length: 783, dtype: int64

In [75]:
df.groupby('Team')[['Sport','Medal']].value_counts().sort_values(ascending=False)

Team           Sport                 Medal
United States  Swimming              Gold      645
               Athletics             Gold      537
                                     Silver    313
               Basketball            Gold      281
               Swimming              Silver    250
                                              ...
Estonia        Weightlifting         Gold        1
               Cycling               Gold        1
               Cross Country Skiing  Bronze      1
               Boxing                Silver      1
Italy          Snowboarding          Bronze      1
Name: count, Length: 3574, dtype: int64

In [76]:
df.groupby('Team')[['Sport','Sex','Medal']].value_counts().sort_values(ascending=False)

Team           Sport           Sex  Medal
United States  Athletics       M    Gold      409
               Swimming        M    Gold      381
                               F    Gold      264
               Athletics       M    Silver    250
               Basketball      M    Gold      186
                                             ...
Serbia         Taekwondo       F    Silver      1
                                    Gold        1
               Swimming        M    Silver      1
               Shooting        M    Bronze      1
Italy          Figure Skating  F    Bronze      1
Name: count, Length: 4724, dtype: int64

In [77]:
df.groupby('Team')[['Sport','Age','Sex','Medal']].value_counts().sort_values(ascending=False)

Team           Sport      Age   Sex  Medal
United States  Athletics  22.0  M    Gold      75
               Swimming   21.0  M    Gold      71
               Athletics  23.0  M    Gold      54
               Swimming   23.0  M    Gold      50
               Athletics  21.0  M    Gold      46
                                               ..
Great Britain  Shooting   27.0  M    Gold       1
                                     Silver     1
                          29.0  M    Gold       1
                          30.0  M    Gold       1
Zut            Sailing    33.0  M    Silver     1
Name: count, Length: 20985, dtype: int64

In [79]:
df.groupby('Team')[['Age','Medal']].value_counts().sort_values(ascending=False)

Team           Age   Medal
United States  22.0  Gold      263
               23.0  Gold      257
               21.0  Gold      248
               24.0  Gold      190
               20.0  Gold      179
                              ...
Jamaica        19.0  Gold        1
                     Silver      1
               20.0  Gold        1
               23.0  Gold        1
Zut            33.0  Silver      1
Name: count, Length: 6142, dtype: int64

In [83]:
df.groupby('Sport')[['Age','Medal']].value_counts().sort_values(ascending=False)

Sport              Age   Medal
Athletics          22.0  Gold      161
                   23.0  Bronze    155
Swimming           21.0  Gold      151
Athletics          23.0  Silver    146
                   25.0  Silver    140
                                  ...
Modern Pentathlon  32.0  Gold        1
                   30.0  Bronze      1
                   20.0  Silver      1
                         Bronze      1
Wrestling          41.0  Gold        1
Name: count, Length: 3420, dtype: int64

In [86]:
df.groupby('Age')['Medal'].count().sort_values(ascending=False)

Age
23.0    3395
24.0    3289
22.0    3159
25.0    3124
26.0    2924
        ...
81.0       0
84.0       0
88.0       0
96.0       0
97.0       0
Name: Medal, Length: 74, dtype: int64

In [ ]:
df.groupby('Team')[['Age','Medal']].value_counts().sort_values(ascending=False)

In [ ]:
df.groupby('Team')[['Age','Medal']].value_counts().sort_values(ascending=False)

In [88]:
df.groupby('Sport')['Medal'].count().sort_values(ascending=False)

Sport
Athletics        3969
Swimming         3048
Rowing           2945
Gymnastics       2256
Fencing          1743
                 ...
Motorboating        7
Roque               3
Jeu De Paume        3
Basque Pelota       2
Aeronautics         1
Name: Medal, Length: 66, dtype: int64

In [89]:
df.groupby('Sport')[['Medal','Team']].value_counts().sort_values(ascending=False)

Sport            Medal   Team
Swimming         Gold    United States           645
Athletics        Gold    United States           537
                 Silver  United States           313
Basketball       Gold    United States           281
Swimming         Silver  United States           250
                                                ...
Nordic Combined  Silver  Soviet Union              1
                         France                    1
                 Gold    United States             1
                         Switzerland               1
Wrestling        Silver  United Arab Republic      1
Name: count, Length: 3574, dtype: int64